{# index.html #}
{% extends "base.html" %}
{% block body %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app.css') }}">


    <!--Search form-->
    <br />
    <h4>The NewsRoom - Creative Talent Marketplace</h4>
    <table style="width:100%">
    	<tr>
    		<td width="500px"></td>
    		<td>
			<form name="myform" action="/" method="GET">
    			<input type="text" name="search_query" length="50"  placeholder="Search writers or topics" />
    			<input type="submit" value="Search" >
    		</form>
    		</td>
    	</tr>
    </table>
	<br/><br/>
		<table class="nc-cal-table table-header">
			<thead>
				<tr>
					<th class="sortable title-column">
						<label class="small">Name</label>
					</th>
				    <th class="sortable title-column">
						<label class="small">Contact</label>    
				    </th>
				   	<th class="sortable title-column">
						<label class="small">Bio</label>    
				    </th>
   				     <th class="sortable title-column">
						<label class="small">Location</label>    
				    </th>
				     <th class="sortable title-column">
						<label class="small">Area of Expertise</label>    
				    </th>
				</tr>
			</thead>
			<tbody>
	    	{% for writer in writers %}
			  <tr>

			     <td class="task-status other-column">
			    	<a href="/writer/{{writer[0]}}">{{writer[1]}}</a>
			    </td>
			         <td class="task-status other-column">
			    	{{writer[12]}}
			    </td>
			         <td class="task-status other-column">
			    	{{writer[2]}}
			    </td>
			         <td class="task-status other-column">
			    	{{writer[4]}} {{writer[5]}}

			    </td>
			         <td class="task-status other-column">
			    	{{writer[7]}} {{writer[16]}} {{writer[17]}}


			    </td>

			  </tr>
		   	{% endfor %}
		   </tbody>
		</table>

{% endblock %}
